@font-face {
    font-family: 'Arsenal SC';
    src: url('/src/assets/fonts/ArsenalSC-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Arsenal SC';
    src: url('/src/assets/fonts/ArsenalSC-Bold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Unbounded';
    src: url('/src/assets/fonts/Unbounded-VariableFont_wght.ttf') format('truetype');
}